# Connect to MSSQL

In [1]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                      'Server=localhost;'
                      'Database=data_modeling;'
                      'Trusted_Connection=yes;')

In [2]:
cursor = conn.cursor()
cursor.execute('SELECT * FROM data_modeling.dbo.dim_marketing')

In [17]:
for row in cursor.tables():
    print (row.table_name)

churn
dim_marketing
sysdiagrams
titanic
trace_xe_action_map
trace_xe_event_map
CHECK_CONSTRAINTS
VIEW_TABLE_USAGE
VIEWS
all_columns
all_objects
all_parameters
all_sql_modules
all_views
allocation_units
assemblies
assembly_files
assembly_modules
assembly_references
assembly_types
asymmetric_keys
availability_databases_cluster
xml_schema_namespaces
xml_schema_types
xml_schema_wildcard_namespaces
xml_schema_wildcards

In [4]:
import pandas as pd

# Fetching tables from DB into Pandas df

In [5]:
df = pd.read_sql_query("SELECT * FROM data_modeling.dbo.dim_marketing;", con= conn )

In [6]:
df.head()

Empty DataFrame
Columns: [CompanyId, CompanyShort, Company, PlanDate, ChannelPlanning, Channel, Country, PlanRevenueBeforeReturnsIntern, PlanRevenueAfterReturnsIntern, PlanRevenueAfterReturnsExtern]
Index: []

In [57]:
churn = pd.read_csv("/Users/Churn_Modelling.csv")

In [72]:
df = churn.head(100)

In [73]:
df.shape

(100, 14)

In [74]:
from sqlalchemy import create_engine, MetaData, Table, select
from six.moves import urllib

In [75]:
params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 11.0};SERVER=localhost;DATABASE=data_modeling;Trusted_Connection=yes")
engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

# Transfering dataframe to SQL server

Step 1: Create table in SQL server with exact column names and column type 
Step 2: Refresh SQL database and match the structure of DB table and

In [77]:
engine.connect() 
# suppose df is the data-frame that we want to insert in database
df.to_sql(name='churn',con=engine, index=False, if_exists='replace')